<div class="fixedu tmess"><li>
  <div class="panel2 panel-default" data-conversation-id="<%= conversation.id %>">

    <div class="panel-heading2"  id="converet<%=conversation.id%>">
    <%id =user.id == conversation.recipient_id ? conversation.sender_id : conversation.recipient_id%>
        <%= link_to image_tag(Photo.where(user:  id).last.image.thumb('30x30#').url, alt: user.id, class: 'img-thumbnail')%>
      <%= link_to User.find(id).pseudo, '', class: 'toggle-window' %>
      <%= link_to "x", close_conversation_path(conversation), class: "btn btn-default btn-xs pull-right", remote: true, method: :post %>
    </div>

    <script type="text/javascript">

      $(document).ready(function(e) {

        $('#input_default_<%=conversation.id %>').emojiPicker({

      height: '200px'
    });



      // keyup event is fired
        $(".emojiable-question, .emojiable-option").on("keyup", function () {
          //console.log("emoji added, input val() is: " + $(this).val());
        });

      });
    </script>

    <div class="panel-body" id="con<%=conversation.id%>">
      <div class="messages-list " id ="preview<%=conversation.id %>" >
        <ul>
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        </ul>
      </div>

      <%= form_tag "/addmessage", method: "post" do %>

        <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
        <input name="user_id" type="hidden" value="<%= user.id %>">
          <input name="opoeduser_id" type="hidden" value="<%= User.find(id).pseudo %>">
        <textarea name="cont" class="form-control input " id="input_default_<%=conversation.id %>"></textarea>
        <input type="hidden" name="body" value="" id="cont<%=conversation.id %>">
        <input type="submit" class="submit2" value="Envoyer" id="sub<%= conversation.id %>" onclick="sendmees<%=conversation.id %>(<%= conversation.id %>);">
      <%end%>

    </div>
  </divs>

<script>

  function sendmees<%=conversation.id %>(id)
  {
;
        document.getElementById("cont<%=conversation.id %>").value=  document.getElementById("input_default_<%=conversation.id %>").value
      document.getElementById("preview<%=conversation.id %>").innerHTML+='<li>    <div class="row">  <div class="message-sent">    '+
      document.getElementById("input_default_<%=conversation.id %>").value
      +'  </div>  </div></li>'
    document.getElementById("input_default_<%=conversation.id %>").value="";
  }
  document.getElementById("con<%= conversation.id %>").style.height="0px";
    document.getElementById("con<%= conversation.id %>").style.visibility="hidden";

document.getElementById("converet<%= conversation.id %>").addEventListener("click", function(){  document.getElementById("input_default_<%=conversation.id %>").value

  if(document.getElementById("con<%= conversation.id %>").style.visibility!="visible")
  {
    document.getElementById("con<%= conversation.id %>").style.height="340px";  document.getElementById("input_default_<%=conversation.id %>").value
      document.getElementById("con<%= conversation.id %>").style.visibility="visible";
  }
  else
  {
    document.getElementById("con<%= conversation.id %>").style.height="0px";
      document.getElementById("con<%= conversation.id %>").style.visibility="hidden";
  }


});
</script>
  <script type="text/javascript">

  </script>
</li>
</div>
