<div class=" conten">

  <div class="box ">

  <div class="tmess">
    <div class="">
      
              </div>



<div class="box">

  <div class=" cont">


    <div class="animer">
      <%@cat.each do |e|%>
      <div class="tweets bounceInUp"><div class="amisc"><%=image_tag(e.image.thumb('50x50').url, alt: e.id, class: 'img-thumbnail', size: "50x50")%> <a href="forumshow/<%=e.id%>">&nbsp <%=e.name%></a>    &nbsp   <p>&nbsp<span >Messages</span> : <%= e.nbmessage%> </P>    &nbsp  &nbsp  <p class="hiddenmobie"><span class="hiddenmobie">Date du dernier message</span> : <%=e.dateup%> </P></div></div>
      <%end%>
    </div>


<p></P>



        <div class="anime ">
          <ul class="userbox">
            <li><a href="/forum"><h2>Le Forum</h2></A> </li>



          </ul>
        <div class="userbox">
          <%= form_tag "/freche", method: "post" do %>
            <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: sujet "/>

            <input  type="submit" class="submit2" value="rechecher"/></p>
            <%end%>
                      </div>
                        </div>


</div>
</div>
