<div class=" conten">
 



<div class="box">

  <div class=" cont">


    <div class="animer">
      <%if @souscat%>
      <%@souscat.each do |e|%>
      <div class="tweets bounceInUp"><div class="amisc"> <div class="hiddenmobie"><%u=User.find(e.user_id)%><%= link_to image_tag(Photo.where(user: u.id).last.image.thumb('60x60#').url, alt: e.name, class: 'img-thumbnail')%> &nbsp &nbsp<a href ="/users/profil/<%=u.pseudo.sub '.', '<dot>'%>/<%=rand(36**50).to_s(36)%>"><%=u.pseudo  %> </div> <a href="/sujet/<%=e.id%>">&nbsp <%=e.name%></a>    &nbsp  &nbsp  &nbsp  &nbsp<span>Messages</span> : <%= e.nbmessage%>     &nbsp  &nbsp  &nbsp<p class="hiddenmobie"><span>Date du dernier message</span> : <%if Post.where(souscatforms_id: e.id).last%> <%=Post.where(souscatforms_id: e.id).last.date%><%end%></div></div>
      <%end%>
      <%end%>
    </div>
    <div class="colcent">     <%= form_tag "/addsouscat", method: "post" do %>
          <p><input class="rechecher " type="string" name="cat"  placeholder=""/>
            <input type="hidden" name="idcat" value="<%=@cat%>">
          <input  type="submit" class="submit2" value="Ajouter"/></p>
          <%end%></div>

<p></P>



        <div class="anime ">
          <ul class="userbox">
            <li><a href="/forum"><h2>Le Forum</h2></A> </li>



          </ul>
        <div class="userbox">
          <%= form_tag "/freche", method: "post" do %>
            <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: sujet "/>

            <input  type="submit" class="submit2" value="rechecher"/></p>
            <%end%>
                      </div>
                        </div>


</div>
</div>
