<div class=" conten">

  


<div class="box">

  <div class=" ">
  
  <div class="anime ">
    <ul class="userbox">
      <li><a href="/forum"><h2>Le Forum</h2></A> </li>



    </ul>
  <div class="userbox">
    <%= form_tag "/freche", method: "post" do %>
      <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: sujet "/>

      <input  type="submit" class="submit2" value="rechecher"/></p>
      <%end%>
      
                </div>
              </div>
              <div class="tweets"><h3><%=Souscatform.find(@souscat).name%></h3></div>
  <div class="tweets ">
  </br>
    <%= form_for @unsujet , url: {action: 'createpost'} do |f| %>

<div class="finli">

              
      <input id="x" type="hidden" name="content">

      <%=f.text_area(:content, size: '150x5')%>
      <div class="marg">
              <%=f.label :Ajouter_une_image%>
              <%= f.file_field  :image  %>
                <%=f.hidden_field :souscatforms_id  , value:@souscat  %>
              <div class="actions ">
                <%= f.submit "Poster"%>
              </div>
              </div>


      <% end %>
</div>
<script type="text/javascript">

$(document).ready(function(e) {

  $('#post_content').emojiPicker({

height: '200px'
});



// keyup event is fired
  $(".emojiable-question, .emojiable-option").on("keyup", function () {
    //console.log("emoji added, input val() is: " + $(this).val());
  });

});
</script>



</div>



      <%if @lessujets%>
      <%@lessujets.each do |e|%>
      <div =""><div class="tweets bounceInUp">
<div class="">
      <div class="">

      <div class="tuser"><%= link_to image_tag(Photo.where(user: e.user_id).last.image.thumb('60x60#').url, alt: e.id, class: 'img-thumbnail')%> <p><a href ="/users/profil/<%=User.find(e.user_id).pseudo.sub '.', '<dot>'%>/<%=rand(36**50).to_s(36)%>%>"><%=User.find(e.user_id).pseudo%></a>  </P></div> <%=e.date%></p></div>
          <div  class ="ttextb"><p><%=e.content%></p></div>
          <%if e.image_uid !=nil%>
      
        <%= link_to image_tag(e.image.thumb('850x531#').url, alt: e.id, class: 'img-thumbnail'),
                  e.image.url, target: '_blank' %>
      <%end%>
      </div>
    </div>
      </div>
      <%end%>
      <%end%>

   
</div>
</div>
