<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= form.text_area :content, id: :tweet_content, :size=>'117x7' %>
    <%=form.label :Ajouter_une_image%>
      <%= form.file_field  :image%>
  </div>

  <div class="actions ">
    <%= form.submit "Publier"%>
  </div>
<% end %>
