
<p id="notice"><%= notice %></p>
<div class=" cont ">

<div class="tweets2   ">
<ul>
    <li><a href="/tweets"><%=t('pubpu')%></A> </li>
  <li><a href="/tweeta"><%=t('pubpri')%></A> </li>
  <li><a href="/follow">Personne suivie</A> </li>
 
</ul>
<div class="tweets colso ">

<%= form_for @tweet  , url: {action: 'create'} do |f| %>


  <input id="x" type="hidden" name="content">

  <%=f.text_area(:content, size: '')%>
  <div class="divO">
          <%=f.label :Ajouter_une_image%>
          
          <%= f.file_field  :image  %>

          <div class="actions ">
            <%= f.submit t('publier')%>
          </div>
</div>

  <% end %>
</div>

</div>

</div>
  <div class=" masonry ">
      <% @tweets.each do |tweet| %>
<%if tweet.typ == nil%>
  <div class="tweets col-auto   clearfix bounceInUp">
    <%if User.where(pseudo: tweet.auteur).last%>
      <% ida = User.where(pseudo: tweet.auteur).last.id%>

      <div class="tuser"><%= link_to image_tag(Photo.where(user: ida).last.image.thumb('60x60#').url, alt: ida, class: 'img-thumbnail')%> <p><a href ="/users/profil/<%=tweet.auteur.sub '.', '<dot>'%>/<%=rand(36**50).to_s(36)%>"><%=tweet.auteur%></a>  <span class="ttweet"><%=tweet.tilte%></span></P></div><p class="datea"><%=tweet.created_at%></p> </p>
            <p class ="ttext"><%=tweet.content%>  </p>
          <%if tweet.image_uid !=nil%>
          <%= link_to image_tag(tweet.image.thumb('850x531#').url, alt: tweet.auteur, class: ''),
                    tweet.image.url, target: '_blank' %>


                      <%end%>

          <div class="boxb">

            <%if tweet.ido == nil%>
            <%aime = tweet.aime%>
            <%else%>
            <%aime = Tweet.find(tweet.ido).aime%>
            <%end%>
                <P>  <%= link_to image_tag("baseline_reply_black_18dp.png", alt: "Forum", class: 'colorbtlink'),"/aime2/#{tweet.id}" ,  method: :post %></P>
                    <P><%=aime%>  <%= link_to image_tag("baseline_favorite_black_18dp.png", alt: "Forum", class: 'colorbtlink'),"/aime/#{tweet.id}" ,  method: :post %></P>
            <p>  <%= link_to image_tag("baseline_chat_bubble_black_18dp.png", alt: "Forum", class: 'colorbtlink'), tweet %></P>
      <%if current_user.id == ida %>
      <p>  <%= link_to image_tag("baseline_cancel_black_18dp.png", alt: "Forum", class: 'colorbtlink'), tweet, method: :delete, data: { confirm: t('are') } %></p>
      <%end%>
</div>
<% end %>
</div>
<%end%>
  <%end%>

  <script type="text/javascript">

  $(document).ready(function(e) {

    $('#tweet_content').emojiPicker({

  height: '200px'
});



  // keyup event is fired
    $(".emojiable-question, .emojiable-option").on("keyup", function () {
      //console.log("emoji added, input val() is: " + $(this).val());
    });

  });
</script>
  
  </div>


      


    </div>
