
<div class=" conten">
  <div class="box"><div class="boxgeek"> <div class="alea"><h2> 5 Animer aleatoire</h2><p><%= link_to image_tag(@array[1].image.thumb('50x50#').url, alt: @array[1].id, class: 'img-thumbnail')%>       <a href ="/anime/<%=@array[1].id%>">  &nbsp&nbsp&nbsp<%=@array[1].name%></a></P><p><%= link_to image_tag(@array[2].image.thumb('50x50#').url, alt: @array[2].id, class: 'img-thumbnail')%>       <a href ="/anime/<%=@array[2].id%>">  &nbsp&nbsp&nbsp<%=@array[2].name%></a></P><p><%= link_to image_tag(@array[3].image.thumb('50x50#').url, alt: @array[3].id, class: 'img-thumbnail')%>       <a href ="/anime/<%=@array[3].id%>">  &nbsp&nbsp&nbsp<%=@array[3].name%></a></P><p><%= link_to image_tag(@array[4].image.thumb('50x50#').url, alt: @array[4].id, class: 'img-thumbnail')%>       <a href ="/anime/<%=@array[4].id%>">  &nbsp&nbsp&nbsp<%=@array[4].name%></a></P><p><%= link_to image_tag(@array[0].image.thumb('50x50#').url, alt: @array[0].id, class: 'img-thumbnail')%>       <a href ="/anime/<%=@array[0].id%>">  &nbsp&nbsp&nbsp<%=@array[0].name%></a></P></div></div>
  <div class="boxgeek">  <div class="alea"><h2> 5 Jeux aleatoire</h2><p><%= link_to image_tag(@jeuxarray[1].image.thumb('50x50#').url, alt: @jeuxarray[1].id, class: 'img-thumbnail')%>       <a href ="/jeux/<%=@jeuxarray[1].id%>">  &nbsp&nbsp&nbsp<%=@jeuxarray[1].name%></a></P><p><%= link_to image_tag(@jeuxarray[2].image.thumb('50x50#').url, alt: @jeuxarray[2].id, class: 'img-thumbnail')%>       <a href ="/jeux/<%=@jeuxarray[2].id%>">  &nbsp&nbsp&nbsp<%=@jeuxarray[2].name%></a></P><p><%= link_to image_tag(@jeuxarray[3].image.thumb('50x50#').url, alt: @jeuxarray[3].id, class: 'img-thumbnail')%>       <a href ="/jeux/<%=@jeuxarray[3].id%>">  &nbsp&nbsp&nbsp<%=@jeuxarray[3].name%></a></P><p><%= link_to image_tag(@jeuxarray[4].image.thumb('50x50#').url, alt: @jeuxarray[4].id, class: 'img-thumbnail')%>       <a href ="/jeux/<%=@jeuxarray[4].id%>">  &nbsp&nbsp&nbsp<%=@jeuxarray[4].name%></a></P><p><%= link_to image_tag(@jeuxarray[0].image.thumb('50x50#').url, alt: @jeuxarray[0].id, class: 'img-thumbnail')%>       <a href ="/jeux/<%=@jeuxarray[0].id%>">  &nbsp&nbsp&nbsp<%=@jeuxarray[0].name%></a></P></div></div>
  <div class="boxgeek">  <div class="alea"><h2> 5 Serie aleatoire</h2><p><%= link_to image_tag(@seriearray[1].image.thumb('50x50#').url, alt: @seriearray[1].id, class: 'img-thumbnail')%>       <a href ="/serie/<%=@seriearray[1].id%>">  &nbsp&nbsp&nbsp<%=@seriearray[1].name%></a></P><p><%= link_to image_tag(@seriearray[2].image.thumb('50x50#').url, alt: @seriearray[2].id, class: 'img-thumbnail')%>       <a href ="/serie/<%=@seriearray[2].id%>">  &nbsp&nbsp&nbsp<%=@seriearray[2].name%></a></P><p><%= link_to image_tag(@seriearray[3].image.thumb('50x50#').url, alt: @seriearray[3].id, class: 'img-thumbnail')%>       <a href ="/serie/<%=@seriearray[3].id%>">  &nbsp&nbsp&nbsp<%=@seriearray[3].name%></a></P><p><%= link_to image_tag(@seriearray[4].image.thumb('50x50#').url, alt: @seriearray[4].id, class: 'img-thumbnail')%>       <a href ="/serie/<%=@seriearray[4].id%>">  &nbsp&nbsp&nbsp<%=@seriearray[4].name%></a></P><p><%= link_to image_tag(@seriearray[0].image.thumb('50x50#').url, alt: @seriearray[0].id, class: 'img-thumbnail')%>       <a href ="/serie/<%=@seriearray[0].id%>">  &nbsp&nbsp&nbsp<%=@seriearray[0].name%></a></P></div></div>
  </div>
  <div class="box ">

  <div class="tmess">
    <div class="">
      <div class="amis">

      <div class "panel-head2">

        <h2>Contacts</h2>   </div> <ul><%@mesamis.each do |user|%>

            <%a = DateTime.now.utc - user.lasttime%>
            <%ud =(a /60).to_i %>

            <li><%= link_to image_tag(Photo.where(user: user.id).last.image.thumb('60x60#').url, alt: user.id, class: 'img-thumbnail')%> <%= link_to user.pseudo, conversations_path(user_id: user), remote: true, method: :post %> <%if ud <= 5 %><span class="online" >en ligne</span><%else%><%=ud%>min<%end%></li>
          <% end %>
        </ul>

   </div>
      <ul id="conversations-list">
        <% @conversations.each do |conversation| %>
        <div class="tmess">
          <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        </div>
        <% end %>
      </ul>




      </div>
          </div>
              </div>


<div class="box">

  <div class=" cont">

    <%@resul=Serie.all.sort{ |a, b| a.name <=> b.name }.reverse %>


            <%@resul.each do |e|%> <%if e.image !=nil%> <div class="tweets "><div class="amisc"><%= link_to image_tag(e.image.thumb('70x70#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/serie/<%=e.id%>">  &nbsp&nbsp&nbsp<%=e.name%></a>
                <%list =Seriegenre.where(serie_id: e.id)%>
              &nbsp  &nbsp  &nbsp  &nbsp <span> Genre : </span> <%list.each do |i|%> <%=i.categorieserie.name%> <%end%> </P>



                </div></div><%end%>
        <%end%>

        <div class="anime ">
          <ul class="userbox">
            <li><a href="/seriet">Accueil</A> </li>
              <li><a href="/lesseries">Les Series</A> </li>
              <li><a href="/srechegenre">Recherche par genre</A> </li>
            <li><a href="/aleatoires">Serie aléatoire </A> </li>
                <li><a href="/addserie">Ajouter une serie </A> </li>


          </ul>
        <div class="userbox">
          <%= form_tag "/sreche", method: "post" do %>
            <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: serie "/>

            <input  type="submit" class="submit2" value="rechecher"/></p>
            <%end%>
                      </div>
                        </div>
