


  <p id="notice"><%= notice %></p>
  <div class=" conten">
   
    




  <div class="box">
<div class=" cont">
    <% @commentaire.each do |e| %>

   <div class="tweets">
   <%if User.where(pseudo: e.auteur).last%>
     <% ida = User.where(pseudo: e.auteur).last.id%>

     <div class="tuser"><%= link_to image_tag(Photo.where(user: ida).last.image.thumb('60x60#').url, alt: ida, class: 'img-thumbnail')%> <p><a href ="/users/profil/<%=e.auteur.sub '.' ,'<dot>'%>/<%=rand(36**50).to_s(36)%>"</a><%=e.auteur%>  </P></div> <%=e.created_at%></p>
         <p class ="ttext"><%=e.content%></p>
         <%if e.image_uid !=nil%>
         <%= link_to image_tag(e.image.thumb('850x531#').url, alt: e.auteur, class: 'img-thumbnail'),
                   e.image.url, target: '_blank' %>
                     <%end%>


   </div>
   <%end%>
   <%end%>




   <script type="text/javascript">

   $(document).ready(function(e) {
 
     $('#commentaire_content').emojiPicker({
 
   height: '200px'
 });
 
 
 
   // keyup event is fired
     $(".emojiable-question, .emojiable-option").on("keyup", function () {
       //console.log("emoji added, input val() is: " + $(this).val());
     });
 
   });
 </script>

     <div class="tweets">

         <h3><%=t('creatcom')%></h3>
         <%= form_for @comm , url: {action: 'createcom'} do |f| %>



                   <%= f.text_area  :content, :size=>'105x7'  %>
                   <div>
                   <%=f.label :Ajouter_une_image%>
                   <%= f.file_field  :image  %>
                   <%= f.hidden_field  :idt , :value=>"#{@twee.id}"  %>

                   <div class="actions ">
                     <%= f.submit t('com')%>
                   </div>
                   </div>

           <% end %>


   </div>


   <%tweet = @twee%>
   <div class="tweets">
   <%if User.where(pseudo: tweet.auteur).last%>
   <% ida = User.where(pseudo: tweet.auteur).last.id%>

   <div class="tuser"><%= link_to image_tag(Photo.where(user: ida).last.image.thumb('60x60#').url, alt: ida, class: 'img-thumbnail')%> <p><a href ="/users/profil/<%=ida%>"><%=tweet.auteur%></a>  <span class="ttweet"><%=tweet.tilte%></span></P></div> <%=tweet.created_at%></p>
       <p class ="ttext"><%=tweet.content%></p>
       <%if tweet.image_uid !=nil%>
       <%= link_to image_tag(tweet.image.thumb('850x531#').url, alt: tweet.auteur, class: 'img-thumbnail'),
                 tweet.image.url, target: '_blank' %>
                   <%end%>
       <div class="boxb">

         <%if tweet.ido == nil%>
         <%aime = tweet.aime%>
         <%else%>
         <%aime = Tweet.find(tweet.ido).aime%>
         <%end%>
         <P>  <%= link_to image_tag("baseline_reply_black_18dp.png", alt: "Forum", class: 'colorbtlink'),"/aime2/#{tweet.id}" ,  method: :post %></P>
         <P><%=aime%>  <%= link_to image_tag("baseline_favorite_black_18dp.png", alt: "Forum", class: 'colorbtlink'),"/aime/#{tweet.id}" ,  method: :post %></P>


   </div>

   </div>
   <%end%>




   </div>

          </div>



</div>
