<p id="notice"><%= notice %></p>
<div class=" conten">
  
  



<div class="box">

  <div class=" cont">


      <%Ami.all.each do |i|%>
        
        <%if current_user!=nil%>
        <%if i.u1 == current_user.id%>
        <%e = User.find(i.u2)%>
        <div class="tweets "><div class="amisc"><%= link_to image_tag(Photo.where(user: e.id).last.image.thumb('60x60#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/users/profil/<%=e.pseudo.sub '.' ,'<dot>'%>/<%=rand(36**50).to_s(36)%>">  &nbsp&nbsp&nbsp<%=e.pseudo%></a><p class="hiddenmobie"> <span>&nbsp&nbsp&nbsp&nbsp Email : &nbsp&nbsp&nbsp</span> <%=e.email%></p></div></div>
         <%elsif i.u2 == current_user.id%>
        <%e = User.find(i.u1)%>
        <div class="tweets "><div class="amisc"><%= link_to image_tag(Photo.where(user: e.id).last.image.thumb('60x60#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/users/profil/<%=e.pseudo.sub '.' ,'<dot>'%>/<%=rand(36**50).to_s(36)%>">  &nbsp&nbsp&nbsp<%=e.pseudo%></a><p class="hiddenmobie"> <span>&nbsp&nbsp&nbsp&nbsp Email : &nbsp&nbsp&nbsp</span> <%=e.email%></p></div></div>
        <%end%>
        <%end%>
       

    <%end%>


        
 




          <div class="tweets">
            <h2 class="center"><%=t('mas')%></h2>

    </div>
    <%if @demande !=nil%>
    <%@demande.each do |e|%> <%p=User.find(e.ud).pseudo%> <div class="tweets "><div class="amisc"><%= link_to image_tag(Photo.where(user: e.ud).last.image.thumb('60x60#').url, alt: e.ud, class: 'img-thumbnail')%>       <a href ="/users/profil/<%=p.sub '.' ,'<dot>'%>/<%=rand(36**50).to_s(36)%>">  &nbsp&nbsp&nbsp<%=User.find(e.ud).pseudo%></a>
       <%= form_tag "/acc/#{e.id}", method: "post" do %>

<input  type="submit" class="submit4" value="<%=t('add')%>"/></p>

        <%end%>
        <%= form_tag "/sup/#{e.id}", method: "post" do %>

  <input  type="submit" class="submit4" value="<%=t('Sup')%>"/></p>

         <%end%></div></div><%end%>

  <%end%>



      <div class="tweets">
        <h2 class="center"><%=t('des')%></h2>

</div>
</div>

</div>
