<div class="conten">
 
  
  



<div class="box ">
  <div >
  <div class="encoreune">

<div class="unbox">
  <div class="userim">  <% ida = @user_p.id%>
<%= link_to image_tag(Photo.where(user: ida).last.image.thumb('150x150#').url, alt: ida, class: 'img-thumbnail')%>
  <div>  <h1><%=@user_p.pseudo%></h1>
  <%= form_tag "/demande/#{@user_p.id}", method: "post" do %>


        <input  type="submit" class="submit4" value="<%=t('add')%>"/></p>
        <%end%>
        <p></P>
    <%= form_tag "/followers/#{@user_p.id}", method: "post" do %>

      <input  type="submit" class="submit4" value="Suivre"/></p>
      
              <%end%></div></div>
<div class="userbox">

    <div class="pbox">

    <p><span>Email : </span><%=@user_p.email%> &nbsp&nbsp</p>
    <p><span><%=t('ps')%> : </span><%=@user_p.pays%> &nbsp&nbsp</p>
    <p><span><%=t('sx')%>: </span><%=@user_p.sexe%> &nbsp&nbsp</p>
    <p><span><%=t('man')%> : </span><%=@user_p.manga%> &nbsp&nbsp&nbsp&nbsp</p>
    </div>
    <div class="pbox">
    <p><span><%=t('Animer')%> : </span><%=@user_p.animer%>&nbsp&nbsp </p>
    <p><span><%=t('sr')%> : </span><%=@user_p.serie%> &nbsp&nbsp</p>
    <p><span><%=t('fi')%> :</span> <%=@user_p.film%> &nbsp&nbsp</p>
    <p><span><%=t('jv')%>:</span> <%=@user_p.jeux%> &nbsp&nbsp</p>
</div>
</div>

</div>
  <p><span><%=t('prent')%> :</span> <%=@user_p.presentation%></p>
 

</div>
  <h2 class="unbox"><%=t('ldp')%> <%=@user_p.pseudo%></h2>

<div class="cont">
      <%@tweets =Tweet.where(auteur:@user_p.pseudo)%>
        <% @tweets.each do |tweet| %>

    <div class="tweets">

      <div class="tuser"><%= link_to image_tag(Photo.where(user: ida).last.image.thumb('60x60#').url, alt: ida, class: 'img-thumbnail')%> <p><a href ="/users/profil/<%=ida%>"><%=tweet.auteur%></a>  <span class="ttweet"><%=tweet.tilte%></span></P></div> <%=tweet.created_at%></p>
            <p class ="ttext"><%=tweet.content%></p>
            <%if tweet.image_uid !=nil%>
            <%= link_to image_tag(tweet.image.thumb('850x531#').url, alt: tweet.auteur, class: 'img-thumbnail'),
                      tweet.image.url, target: '_blank' %>
                        <%end%>
            <div class="boxb">
            
              <%if tweet.ido == nil%>
              <%aime = tweet.aime%>
              <%else%>
              <%aime = Tweet.find(tweet.ido).aime%>
              <%end%>
              <P>  <%= link_to image_tag("baseline_reply_black_18dp.png", alt: "Forum", class: 'colorbtlink'),"/aime2/#{tweet.id}" ,  method: :post %></P>
              <P><%=aime%>  <%= link_to image_tag("baseline_favorite_black_18dp.png", alt: "Forum", class: 'colorbtlink'),"/aime/#{tweet.id}" ,  method: :post %></P>
              <p>  <%= link_to image_tag("baseline_chat_bubble_black_18dp.png", alt: "Forum", class: 'colorbtlink'), tweet %></P>
                <%if current_user.id == ida %>
          <p>  <%= link_to t('Sup'), tweet, method: :delete, data: { confirm: t('are') } %></p>
          <%end%>
          </div>




    </div>

  <% end %>




</div>




</div>


  </div>
