<p id="notice"><%= notice %></p>
<div class=" conten">
  




<div class="box">

  <div class=" cont">
    <%if @resuls%>

    <%@resuls.each do |e|%>  <div class="tweets "><div class="amisc"><%= link_to image_tag(e.image.thumb('60x60#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/serie/<%=e.id%>">  &nbsp&nbsp&nbsp<%=e.name%></a>
    </div></div><%end%><%end%>





      <div class="tweets">
        <h3 class="center"><%=t('rels')%></h3>

    </div>
    <%if @resula%>

    <%@resula.each do |e|%>  <div class="tweets "><div class="amisc"><%= link_to image_tag(e.image.thumb('60x60#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/anime/<%=e.id%>">  &nbsp&nbsp&nbsp<%=e.name%></a>
    </div></div><%end%><%end%>





      <div class="tweets">
        <h3 class="center"><%=t('rela')%></h3>

    </div>
    <%if @resulj%>

    <%@resulj.each do |e|%>  <div class="tweets "><div class="amisc"><%= link_to image_tag(e.image.thumb('60x60#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/jeux/<%=e.id%>">  &nbsp&nbsp&nbsp<%=e.name%></a>
    </div></div><%end%><%end%>





      <div class="tweets">
        <h3 class="center"><%=t('relj')%></h3>

    </div>
    <%if @resul%>

    <%@resul.each do |e|%>  <div class="tweets "><div class="amisc"><%= link_to image_tag(Photo.where(user: e.id).last.image.thumb('60x60#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/users/profil/<%=e.pseudo.sub '.', '<dot>'%>/<%=rand(36**50).to_s(36)%>">  &nbsp&nbsp&nbsp<%=e.pseudo%></a>  <%= form_tag "/demande/#{e.id}", method: "post" do %>


        <input  type="submit" class="submit4" value="<%=t('add')%>"/></p>
        <%end%></div></div><%end%>
<%end%>




      <div class="tweets">
        <h3 class="center"><%=t('relu')%></h3>

</div>
</div>
</div>
