 <main class= "container home" >
    <h1 class= "project-title text-center" >
      <%= @current_user.name %> </h1>
      <current_users "row" >
        <%= render "feature_card" , feature_link: project_chat_path( @current_user.id )  %>
