<div class="conten">
<div class=" ">
 

<div class="">

<div class="unbox">
      <% ida = current_user.id%>
          <div class="tuser"><%= link_to image_tag(Photo.where(user: ida).last.image.thumb('200x200#').url, alt: ida, class: 'img-thumbnail')%></div>
  <div class="pbox"><h1><%=current_user.pseudo%></h1>
      <%= form_for @photo do |f| %>


        <div class="form-group">

          <%= f.file_field :image, required: true %>
        </div>

        <%= f.submit t('addph'), class: 'submit' %>
      <% end %>

<%= form_tag :controller=>'users' , :action=> 'updat' do%>

</div>
    </div>
  <div class="monprofil">
<div class="finli3 ">
    <div class="mbox">
    
    <h3><%= t('prent')%></h3>
          <%= text_area :p, :presentation, :size=>'105x20' ,:placeholder => @current_user.presentation ,:value =>@current_user.presentation %></div>
          <div class="mbox2">
            <div class="mbox">
            <h3><%=t('Manga')%></h3>
           <%= text_area :p, :manga, :size=>'50x7',:placeholder => @current_user.manga ,:value =>@current_user.manga  %></div>
           <div class="mbox">
            <h3><%=t('fi')%></h3>
          <%= text_area :p, :film, :size=>'50x7',:placeholder => @current_user.film ,:value =>@current_user.film  %></div>
          </div>   
            </div>
            <div class="mbox">
            <div class="margtop finli3">
            <p></p>
          <p></p>
          <p><%=t('sx')%> : <%=select :p , :sexe, [@current_user.sexe,t('fm') ,t('ho'),t('au')]%></p>
          <p><%=t('ps')%> : <%=select :p , :pays,  [@current_user.pays,'Allemagne','Autriche','Belgique','Bulgarie','Chypre','Croatie', 'Danemark','Espagne','Estonie','Finlade','France','Grèce','Hongrie','Irlande','Italie','Lettonie','Lituanie','Luxembourg','Malte','Pays-Bas','Pologne','Port ugal' ,'Rép Tchèque ' ,'Roumanie','Royaume Uni','Slovaquie','Slovénie','Suède'] %></p>
          <p><%=t('pseudo')%>:<%= text_field :p, :pseudo , :placeholder => current_user.pseudo ,:value =>current_user.pseudo  %></p>
          <div class="actions ">
            <%= submit_tag t('mj')%>
          </div>
          </div>
          <div class="clear"><P></p></div>
          </div> 
            <div class="mbox">
          <h3><%=t('Animer')%></h3>
          <%= text_area :p, :animer, :size=>'50x7',:placeholder => @current_user.animer ,:value =>@current_user.animer  %></div>
            <div class="mbox">
          <h3><%=t('jv')%></h3>
          <%= text_area :p, :jeux, :size=>'50x7',:placeholder => @current_user.jeux ,:value =>@current_user.jeux  %></div>
            <div class="mbox">
          <h3><%=t('sr')%></h3>
          <%= text_area :p, :serie, :size=>'50x7' ,:placeholder => @current_user.serie ,:value =>@current_user.serie %></div>
          <div class="mbox separator2">

        </div>



  <% end %>

</div>

<p></p>
      </div>

  </div>
