
<div class=" conten">


  


<div class="box">

  <div class=" cont">
<%cat =Categoriea.all%>


      <div class="colcent">
        <%= image_tag "japon-07.jpg", alt: "Mon image", size: "700x267" %>


<h2>Ajouter un animer</h2>
<div class="test">
          <%= form_for @animer,  url: {action: 'save'} do |f| %>
            <div class="addanimerr">
          <%=f.label "Titre :"%>
          <%=f.text_field :name%>
          <%=f.label "Auteur/studio :"%>
            <%=f.text_field :auteur%>
            <%=f.label "source :"%>
              <%=f.text_field :source%>
                <%=f.label "Licencier/diffusions :"%>
                <%=f.text_field :licencier%>

                    <div class="">
                      <p class="finli">  <%=f.label "Ajouter une image :  "%> &nbsp
                      <%= f.file_field  :image   %></P>

                      </div>
                      <input id="x" type="hidden" name="content">

                      <%=f.text_area(:content, size: '00x5')%>
                      <div>
              </div>
 

            <div class="finli">
            <%Categoriea.all.each do |e|  %>
              <label class=""><%=e.name%>
              <input type="checkbox" name="ch<%=e.id%>">
             
            </label>
              <%end%>
            </div>



            <div class="actions">
            <%= f.submit "ajouter l'animer" %>
          </div>
          <% end %>
          </div>
      </div>

        </div>
        <div class="anime ">
          <ul class="userbox">
            <li><a href="/geek/animer">Accueil</A> </li>
              <li><a href="/lesanimes">Les animes</A> </li>
              <li><a href="/arechegenre">Recherche par genre</A> </li>
            <li><a href="/arendom">Animer aléatoire </A> </li>
                <li><a href="/addanime">Ajouter un animer</A> </li>


          </ul>
        <div class="userbox">
          <%= form_tag "/areche", method: "post" do %>
            <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: animes "/>

            <input  type="submit" class="submit2" value="rechecher"/></p>
            <%end%>
                      </div>
                        </div>


</div>
