
<div class=" conten">

  


<div class="box colrev">

  <%if @resul%>
            <%@resul.each do |e|%> <%if e.image !=nil%> <div class="colstart"><div class="amisc"><%= link_to image_tag(e.image.thumb('70x70#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/anime/<%=e.id%>">  &nbsp&nbsp&nbsp<%=e.name%></a>
                <%list =Listegenre.where(animer_id: e.id)%>
              &nbsp  &nbsp  &nbsp  &nbsp <span> Genre : </span> <%list.each do |i|%> <%=i.categoriea.name%> <%end%> </P>



                </div></div><%end%>
        <%end%>
  <%end%>



    <div class="colcent">  <%= form_for @animer,  url: {action: 'arechegenre'} do |f| %>

      <div class="finli">
      <%Categoriea.all.each do |e|  %>
        <label class=""><%=e.name%>
        <input type="checkbox" name="ch<%=e.id%>">
       
      </label>
        <%end%>
      </div>
        <div class="actions">
        <%= f.submit "Rechercher l'animer" %></div></div>

<%end%>


                    <div class="anime ">
                      <ul class="userbox">
                        <li><a href="/geek/animer">Accueil</A> </li>
                          <li><a href="/lesanimes">Les animes</A> </li>
                          <li><a href="/arechegenre">Recherche par genre</A> </li>
                        <li><a href="/arendom">Animer aléatoire </A> </li>
                            <li><a href="/addanime">Ajouter un animer</A> </li>


                      </ul>
                    <div class="userbox">
                      <%= form_tag "/areche", method: "post" do %>
                        <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: animes "/>

                        <input  type="submit" class="submit2" value="rechecher"/></p>
                        <%end%>
                      </div>
                        </div>
  </div>
    </div>
      </div>
