
<div class=" conten">

  
 



<div class="box ">
  <div class=" cont colrev">

  <div class="anime ">
  <ul class="userbox">
    <li><a href="/geek/animer">Accueil</A> </li>
      <li><a href="/lesanimes">Les animes</A> </li>
      <li><a href="/arechegenre">Recherche par genre</A> </li>
    <li><a href="/arendom">Animer aléatoire </A> </li>
        <li><a href="/addanime">Ajouter un animer</A> </li>


  </ul>
<div class="userbox">
  <%= form_tag "/areche", method: "post" do %>
    <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: animes "/>

    <input  type="submit" class="submit2 buttonfx angleindouble" value="rechecher"/></p>
    <%end%>
              </div>
                </div>


</div>
<div class="colcent">
<%unanime = @unanime%>
<div><%= link_to image_tag(unanime.image.thumb('500x500#').url, alt: unanime.id, class: 'img-thumbnail')%></div>
<p></P>
<%list =Listegenre.where(animer_id: unanime.id)%>
  <p><span>Titre :</span> <%=unanime.name%></P>
    <p><span>Genre :</span> <%list.each do |e|%><%=e.categoriea.name%> <%end%> </P>
    <p><span>Auteur/studio : </span><%=unanime.auteur%></P>
    <P> <span>licencié/diffusions :</span>  <%=unanime.licencier%></P>
  <P> <span>source :</span> <a<%=unanime.source%>><%=unanime.source%></A></P>
        <p><span>Résumé :</span><%=unanime.content%></P>
      <div class="boxb">    <P>  <%=unanime.nlike%><%= link_to image_tag("baseline_favorite_black_18dp.png", alt: "Like", class: 'colorbtlink'),"/anime/aime/#{unanime.id}" ,  method: :post %></P>
              <P>  <%= link_to "","" ,  method: :post %> </P>

</div>
</div>
<div class="tweets">

<h3>Créer un commentaire</h3>
<%= form_for @comm , url: {action: 'createcom'} do |f| %>

 

          <%= f.text_area  :content, :size=>'105x7'  %>
          <div>
          <%=f.label :Ajouter_une_image%>
          <%= f.file_field  :image  %>
          <%= f.hidden_field :idt , :value=>"#{@unanime.id}"%>
          <div class="actions ">
            <%= f.submit "Publier"%>
          </div>
          </div>


  <% end %>


</div>
    <% @commentaire.each do |e| %>

   <div class="tweets">
   <%if User.where(pseudo: e.auteur).last%>
     <% ida = User.where(pseudo: e.auteur).last.id%>

     <div class="tuser"><%= link_to image_tag(Photo.where(user: ida).last.image.thumb('60x60#').url, alt: ida, class: 'img-thumbnail')%> <p><a href ="/users/profil/<%=e.auteur.sub '.', '<dot>'%>/<%=rand(36**50).to_s(36)%>"><%=e.auteur%></a>  </P></div> <%=e.created_at%></p>
         <p class ="ttext"><%=e.content%></p>
         <%if e.image_uid !=nil%>
         <%= link_to image_tag(e.image.thumb('850x531#').url, alt: e.auteur, class: 'img-thumbnail'),
                   e.image.url, target: '_blank' %>
                     <%end%>


   </div>
   <%end%>
   <%end%>



   <script type="text/javascript">

   $(document).ready(function(e) {
 
     $('#commentaireanime_content').emojiPicker({
 
   height: '200px'
 });
 
 
 
   // keyup event is fired
     $(".emojiable-question, .emojiable-option").on("keyup", function () {
       //console.log("emoji added, input val() is: " + $(this).val());
     });
 
   });
 </script>


   

  </div>
  <div class=" cont">




        </div>

