
<div class=" conten">
<div class="box">
<div class="login">
<h2>Se connecter</h2>
<p id="notice"><%= notice %></p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field ok">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "se connecter" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div><div class="login">
  <h2>S'inscrire</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <p id="notice"><%= notice %></p>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "S'inscrire" %>
    </div>
  <% end %>

  
</div>
  

</div>

<div class="box">

<div class=" cont separator">
  <%@tweets =Tweet.all.find_by_sql("SELECT * FROM tweets where typ is null")%>
    <% @tweets.each do |tweet| %>

<%if tweet.typ == nil  &&  User.where(pseudo: tweet.auteur).last!=nil%>
<div class="tweets">
<% ida = User.where(pseudo: tweet.auteur).last.id%>
  <div class="tuser"><%= link_to image_tag(Photo.where(user: ida).last.image.thumb('60x60#').url, alt: ida, class: 'img-thumbnail')%> <p><a href ="/users/profil/<%=ida%>"><%=tweet.auteur%></a>  <span class="ttweet"><%=tweet.tilte%></span></P></div> <%=tweet.created_at%></p>

    <p class ="ttext"><%=tweet.content.html_safe%></p>
    <%if tweet.image_uid !=nil%>
    <%= link_to image_tag(tweet.image.thumb('850x531#').url, alt: tweet.auteur, class: ''),
              tweet.image.url, target: '_blank' %>
                <%end%>



</div>

    <% end %>
    <% end %>



<br>

</div>
</div>

</div>