/*
 *= require rails_emoji_picker

 *= require_tree .
 *= require_self
*= require trix
*= require simplemde.min
 */
@import 'rails_emoji_picker';
@import "bootstrap-sprockets";
@import "bootstrap";
.geekoimg{
  display: none;
}
ul {
  padding-left: 0px;
  list-style: none;
}
a, h1 ,H2 ,h3 ,H4 ,H5 ,p ,input , span ,body ,html , div
{
  font-family: 'Roboto', sans-serif!important;
}
.rechecher{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}
.messages-list {
  max-height: 330px!important;
  margin-top: 10px;
  overflow-y: auto;
  list-style: none;
  overflow-x: hidden;
}
.addanimerr 
{
  display: flex;
  flex-direction: column;
}
.panel2
{
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

}
.message-sent
{

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color:#01B3EA!important;
    color:white;
    white-space: initial!important;
    max-width: 80%;
    word-break: break-all;
}
.message-received{
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  white-space: initial!important;
  word-break: break-all;
  background: #F24F50!important;
    color:white;
}
.panel-heading2
{
  /*faire tres attention si on modifie  utiliser pour le chat bar du haut colorer*/
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  background-color: #FC3C3C;
}
/*#4B668C
#E2B951
#340b2AA
#FF365D
*/
.colrev
{
  flex-direction: column-reverse!important;
}
textarea { 
  outline: none !important;
  border-color: gray;
 
}
.panel-head2 h2{
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-sent {
  /*faire tres attention si on modifie  utiliser pour le chat */
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 0!important;
  padding: 10px;
  
}
/*faire tres attention si on modifie  utiliser pour le chat */
.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
 margin: 0!important;
  padding: 10px;
 
}
.sendig img {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.recending img {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.sendig
{
  margin:10px 2px;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
}
.recending
{
margin:10px 2px;
display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}
.fixedu
{
  /*faire tres attention si on modifie  utiliser pour le chat */
  position: fixed ;
  bottom: 0px;
  z-index: 2;

}
.tmess{
/*faire tres attention si on modifie  utiliser pour le chat */
  display: flex;
  justify-content: center;
  align-content: space-between;
  position: relative;
  flex-direction: column!important;
  margin: 10px 0!important;



}
.messages-list {

  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.roundinfo{
  -moz-border-radius: 10px!important;
  -webkit-border-radius: 10px!important;
  border-radius: 10px!important;
  font-size: 12px;
  margin-left: -10px;
  padding: 5px;
  background: red;
  color: white;
}
.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}html 
{
  background-color: #f2f2f2;
}
.colorbtlink{
  width: 45px!important;
}
body{
   margin-top: 60Px;
   background-color: #f2f2f2;
 }
 .content
 {
/*utiliser pour le header*/
   margin: auto;
   margin-top: 10px !important;
   display: flex;
   align-items:center;
   justify-content:space-between;
height: 50px;
align-content: space-between;
 }
 .content input{
   border: none;
   -moz-border-radius: 10px!important;
   -webkit-border-radius: 10px!important;
   border-radius: 10px!important;

 }
 .messdate {
   font-size: 12px!important;
   margin-left: 140px;
   float: right;
 }
 .messdate2 {
  font-size: 12px!important;
  margin-right: 140px;
  float: right;
}
 .tweets2 textarea{
   width: 100%;
   height: 120Px;
 }
 nav {
   height: 100%;
 }
 nav ul li {
  	display: inline;
  	padding-right:20px;

    position: relative;
  }
  nav ul::after {
   	content: "";
    display: block;
    clear: both;
   	padding-right:20px;

     position: relative;
   }
   nav li:hover .submenu{
     display:inline-block;
     position: absolute;
     top: 100%;
     left: 0;
     padding: 20px;
     z-index: 30;
   }
  a , a:hover{
	text-decoration: none;
}
.colopick{

}
input[type=color] {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 30px;
  width: 30px;
background: black;
  padding: 5px;
  border: 0px black;
}
#contactamischat  input[type=color] {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 20px;
  width: 20px;
background: black;
  padding: 5px;
  border: 0px black;
}
.colmo
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
}
ul {
  margin: 0 auto;
}
.clear{
	clear: both;
	}
  a:visited
  {
    text-decoration: none;
    color: white;
  }
  header{
    margin: O 10px 0 10px;
    background-color: white;
  
    box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
  
    height: 60px;
    position: fixed;
    top: 0px;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    left: 0px;
    opacity: 0.95;
    right: 0px;
    z-index: 70;
  }
  header #un_67 img{
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  td {
	font-family: 'Crimson Text', serif;
	border: 1px solid  #61533F;
  width: 400px!important;
  text-align :  center;

 }
table{
	border-collapse: collapse;
  width: 400px;
}

thead ,tfoot{
	background-color:#E1A34D;
	color:white;
}
#contactamischat
{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 350px;
z-index: 30;
  display: flex;
  flex-direction: row-reverse;  
}
.classchat {
  padding: 10px;
  width: 350px;
  align-self: flex-end;
  text-align: center;
  z-index: 100;
  margin-right: 10px;
   box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
background: white;
}
.classchat form {
  position: absolute;
  bottom: 10px;
}
.menuamis{
  position: fixed;
  display: flex;
  flex-direction: column;
align-items: center;
padding-top: 80px;
  width: 350px;
  top: 0;
  z-index: 20;
  bottom: 0;
  right: 0;
  box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
  overflow: auto;
  background: white;
}
.contentchato{

  height: 400px;
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(3000px, 0, 0);
  transform: translate3d(3000px, 0, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(-25px, 0, 0);
  transform: translate3d(-25px, 0, 0);
  }
  75% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  90% {
  -webkit-transform: translate3d(-5px, 0, 0);
  transform: translate3d(-5px, 0, 0);
  }
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(3000px, 0, 0);
  transform: translate3d(3000px, 0, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(-25px, 0, 0);
  transform: translate3d(-25px, 0, 0);
  }
  75% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  90% {
  -webkit-transform: translate3d(-5px, 0, 0);
  transform: translate3d(-5px, 0, 0);
  }
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-3000px, 0, 0);
  transform: translate3d(-3000px, 0, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(25px, 0, 0);
  transform: translate3d(25px, 0, 0);
  }
  75% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  90% {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
  }
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-3000px, 0, 0);
  transform: translate3d(-3000px, 0, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(25px, 0, 0);
  transform: translate3d(25px, 0, 0);
  }
  75% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  90% {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
  }
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
.menuamis a ,.menuamis a:hover ,.menuamis a:visited
{

  color: black;
  opacity: 0.70;
  font-size: 20px;
    font-weight:800;
    background: white;
   line-height: 35px;
   text-decoration: none!important;

}
tbody{

	 color : #61533F;
}
  .rechecher
  {

width: 300px;
height: 30px;
  }
  .rechecher input
  {
    width: 300px;
  }
  .marg {
    margin: 10px;
  }
  .margtop {
    margin-top: 50px;
  }
  header h1{
  	color: black;
    
    opacity: 0.70;
  	font-size: 35px;
  	font-variant: small-caps;
  	float: left;
    padding-right:20px;
      font-weight: bold;
      margin: auto;
    margin-bottom: 10px;
  }
  header li {
    opacity: 0.70;
    color: black;
  }
  nav{
  	float: right;
    display: flex;
    color: black;
    align-items: center;

  }
  .action
  {
    box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
-moz-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
-webkit-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
    width: 220PX!important;
		background:  #FF365D!important;
		color: white;
		font-size: 15px!important;
		height: 30px!important;
		border: none;
    position: relative;
    top: 2px;
  }

  nav ul li a {
  	color: black!important;
    font-size: 20px;
    font-weight: bold;

  	}
  nav ul li:hover a{
  	

  }
  
  nav ul li:hover a  {
    
  }


  .submenu li a {
    /*n'est plus utiliser*/
  	color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;

  	}
  .submenu li a:hover{
  	padding: 10px;
    background: #4B668C;
  }
  nav ul {
    display: flex;
      padding: 10px;
    align-items: center;
  }
  #container {
    width: 90%;
    
    margin: 2em auto;
}
.masonry { /* Masonry container */
  column-width: 500px;
	column-gap: 15px;
  width: 95%;
	max-width: 100%;
	margin: 50px auto;
}
#columns .tweets{
  background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}
.item { /* Masonry bricks or child elements */
  
}
.col2s {
   

   
columns: 3;
       -webkit-column-fill: auto; /* Chrome, Safari, Opera */
       -moz-column-fill: auto; /* Firefox */
       column-fill: auto;  
   
    
}
.boxs {
    margin-bottom: 20px;
    height:100px;
    background:#BFBFBF;
}
  .listprod {
    width: 100%;
    display: flex;
    flex-direction: row!important;
    flex-wrap: wrap;
    justify-content: center;
}
  .cont{

    /*souvent utiliser dans une class box  pour renverser les column ( pour le fil d'actualier par exemple )*/

    display: flex;
    flex-direction: column-reverse;
word-wrap: break-word; }
.tweet_content{
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;

}
/*class utiliser pour le body de la pluspar des page */
  .tweets{
    padding: 20Px;
 
    margin: 40px ;
     -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;

  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
      background: white;
      

    word-wrap: break-word;
  }
  .tweets2{
    padding: 20Px;
    
    margin: 7px 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f2f2f2;
     
    word-wrap: break-word;
  }
  .noneback,  .noneback:hover{
    background: none!important;
    border: none;
    box-shadow: none;
    margin: 0;
  }
  .colso{
    width: 50%;
    margin: 0px;
  }
  .colso .divO {
    margin: 10px;
  }
  .finli{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    /*remet tout sur une ligne    */
  }
  .finli2{
    display: flex;
    flex-direction: row;
   align-items: center;
    /*remet tout sur une ligne    */
  }
  .finli3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    /*remet tout sur une ligne    */
  }
  /*#4B668C
  #E2B951
  #340b2AA
  #FF365D
  anime = menu navigation animer serie et jeux
  */
  .anime{
    padding: 20Px 10PX;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 7px 0;

      background: rgba(45,45,45,0.98);//3A4756;
      flex: 11;
      order: 4;

    word-wrap: break-word;
  }

.anime ul li a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none!important;

  }
  .anime ul li a h2{
    color: white;

    }
    .colcent p 
    {
      padding:0 50px;
    }
  /*utiliser pour le body des animer */
  .colcent{
    padding: 20Px 10PX;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 7px 0;
    align-items: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
      background: white;
      text-align: center;


    word-wrap: break-word;
}
#animer_content ,#serie_content,#jeux_content{
  width: 100%;
}
.colcent .test form{
 
  display: flex;
  flex-direction:column;
  
    text-align: center;


  word-wrap: break-word;
}
.colcent form{
 
  display: flex;
  flex-direction:row;
  
    text-align: center;


  word-wrap: break-word;
}
.colcent input{
  width: 100%!important;
}
.colcent form p
{
  display: flex!important;
  flex-direction: row!important;
  justify-content: center!important;
  align-items: center;
}
/*utiliser pour afficher le resulta d'une recherche non centrer (espace geek)*/
.colstart{
  padding: 20Px 10PX;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 7px 0;


    background: white;
    text-align: center;



}
.margtop2 {
  margin-top: 100Px;
}
.amisc img {

  width: 50Px!important;
}
.colcent span{
  font-size: 15px;
  font-weight: bold;
}
  .tweets ul li a {
    color:  #3A4756;
    font-size: 25px;
    font-weight: 600;


    }
    .tweets2 ul li a {
      color:  rgba(45,45,45,0.98);
      font-size: 22px;
      font-weight: 600;
  
  
      }
    .tweets ul li {
      display: inline;
    	padding-right:20px;
    }
    .tweets2 ul li {
      display: inline;
    	padding-right:20px;
    }
  .tweets ul li a:hover{
  margin: 0;
    background: none;
  }
  .tweets a {
    text-decoration: none!important;
  }
    
  .tweets2 a {
    text-decoration: none!important;
  }
.login {
  display: flex;
  justify-content: center;
  margin: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  border-radius: 10px;
  background: white!important;
  flex-direction: column;
  align-items: center;
}
.login form input
{
  width: 90%;
}
.login form .ok  input 
{
  width: 20%;
}
/*les box son utiliser pour la structure principal du site eviter de les modier */
.box
{
  margin: 40px;




    display: flex;
    flex-direction: column-reverse;
  word-wrap: break-words;

}

.box:nth-child(1)
{
  flex: 2;
  order: 2;
    flex-direction: column;
}
.box:nth-child(2)
{
  flex: 5!important;
  order: 1!important;
    flex-direction:column-reverse;
}

.boxgeek{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  margin: 7px;
  background: white!important;
  flex-direction: column;
  align-items: center;
}
.submenu{
  display: none;


}
.submenu ul{
  display: none;
display: flex;
flex-direction: column;
justify-content: center;
background: #3A4756;

}
.monprofil
{

  background: white;
  padding:  20px;
  -moz-border-radius: 10px!important;
  -webkit-border-radius: 10px!important;
  border-radius: 10px!important;
    margin: 0;
    display: flex;
    justify-content:space-around;
    position: relative;
    ;
    flex-wrap: wrap;

}
.mbox2{
  margin: 0 auto;
  margin-left: 40px;
}
.mbox:nth-child(7)
{
  display: flex;
  flex-direction: column;
  margin: 0 auto;


}

.box:nth-child(3)
{
  flex: 2;
  order: 2;
  width: 900Px;


}
.box:nth-child(2)
{
  display: flex;

  flex: 1;
  order: 3;
  justify-content: center;
}
.conten{
  align-items: flex-start;
  display: flex;
  margin: 0 5%;
  flex-direction: row ;
  word-wrap: break-word;
  flex-wrap: wrap;

}
.boxb{


  display: flex;
  justify-content:space-around;
 border-top: solid;
 border-color: rgba(45,45,45,0.98);
 border-width: 1px;


}
.boxb p{


  display: flex;
  justify-content:space-around;
align-items: center


}
.boxb a {
font-size: 20px;
font-weight: bold;
color: #111!important;
/*#4B668C
#E2B951
#340b2AA
#FF365D
*/
}
header form
{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}
h1 span {
  font-size: 20px;
}
.mbox:nth-child(2){
order: 6;
}
form input[type="submit"]:hover
{
	background-color:  #FF365D!important;
}
.submit2 {
  box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
  -moz-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
  -webkit-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
		width: 170PX!important;
		background:  #FF365D!important;
		color: white!important;
		font-size: 15px!important;
		height: 30px!important;
		border: none!important;
    position: relative!important;
    -moz-border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;

}
.submit4{
  box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
  -moz-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
  -webkit-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
		width: 170PX!important;
		background:  #FF365D!important;
		color: white;
		font-size: 15px;
		height: 30px;
		border: none;
    position: relative;
    top: 2px;
    left: 20px;
    margin-right: 20px;
    -moz-border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;



}
.submit{
  -moz-border-radius: 10px!important;
  -webkit-border-radius: 10px!important;
  border-radius: 10px!important;
		width: 220PX!important;
		background:  #FF365D!important;
    color: white;
    box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
-moz-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
-webkit-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
		font-size: 15px!important;
		height: 30px!important;
		border: none;
    position: relative;
    top: 2px;
}
nav ul li a {
  text-decoration: none!important;
  color: black!important;
}

.alea a  ,.boxgeek a:hover ,.boxgeek a:visited{
  color: #3A4756!important;
text-decoration: none!important;
  font-size: 15px;
  font-weight: 800;
}
.alea h2 {
  color:#3A4756!important;

}
.submit3{
  box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
  -moz-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
  -webkit-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
  -moz-border-radius: 10px!important;
  -webkit-border-radius: 10px!important;
  border-radius: 10px!important;
		width: 170PX!important;
		background:  #FF365D!important  ;
		color: white;
		font-size: 15px;
		height: 30px;
		border: none;
    position: relative;

}
.tweets2 form 
{
  display: flex;
}
.actions:hover input:hover   
{
    background-color: #FF365D!important;
}
.actions input
{
  box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
-moz-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
-webkit-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
  width: 200PX!important;
  background:  #FF365D!important;
  color: white!important;
  -moz-border-radius: 10px!important;
  -webkit-border-radius: 10px!important;
  border-radius: 10px!important;
  font-size: 15px!important;
  height: 30px!important;
  border: none;
  position: relative;
  top: 2px;
}
.boxb a:hover {
text-decoration: none;
background: white ;
font-size: 20px;
font-weight: bold;
color: #4B668C!important;
}
.datea{
  font-size: 15px!important;
  font-weight:400;
}
.tweets img{
  width: 100%;

}
.tuser {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #227CF2;
  text-decoration: none!important;
  background:  white;
  font-weight:800;
}
.tuser a  ,.tuser a:visited , .tuser a:hover {
  font-size: 20px;
margin:10px;
  color: rgb(0, 112, 201);
  text-decoration: none!important;
  background:  white;
  font-weight:800;
}

.ttext{
  font-size: 15px;
}
.ttextb{
  font-size: 15px;
  
margin-top: 20px;
margin-left: 20px;
}
.tuser p {

}
.ttweet
{
  font-weight:normal;;
  font-size: 17px;
  font-size: 'Crimson Text', serif;
  color: #3A4756;

}
.tweets h3
{
  color: #3A4756;
  justify-content: center;
}
.amis a ,.amis a:hover ,.amis a:visited
{

  color: #4B668C;
  font-size: 20px;
    font-weight:800;
    background: white;
   line-height: 35px;
   text-decoration: none!important;

}
.amisc 
{
  display: flex;
 
}
.amisc span {
  font-size: 15px;
  color: #4B668C;
}
.amisc p{
  white-space: nowrap;
  margin: 0 auto;
}

.amisc a ,.amisc a:hover ,.amisc a:visited
{

  color: #4B668C;
  font-size: 20px;
    font-weight:800;
    background: white;
   line-height: 35px;
   text-decoration: none!important;

}
.amis
{
  flex: 1;
    display: flex;
    justify-content:flex-start;
    position: relative;
    top :-8Px;
    box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
-moz-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
-webkit-box-shadow: 0px 0px 6px 1px rgba(119, 119, 119, 0.66);
    flex-direction: column;
    align-items:center;
    margin: 7px 0;
    background: white!important;
    padding: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.info
{
  color: red ;
  font-size: 15px;
  text-align: center;
}

.sub{
  text-decoration: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #4B668C!important;
}
.pbox{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.pbox
{
  color: #4B668C;

}
.pbox span{
  color: #4B668C;
  font-weight: bold;
  font-size: 15px;

}
.amisc{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.encoreune span{
  color: #4B668C;
  font-weight: bold;
  font-size: 15px;

}
.userim{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  color: #4B668C;
}
.userim h1 {
  margin: 10px;
}
.userim img {
  margin: 10px;
}
.img-thumbnail
{
  margin: 0;
  padding:0;
  border:none!important;
  -moz-border-radius: 50px!important;
-webkit-border-radius: 50px!important;
border-radius: 50px!important;
}
.encoreune
{
  background-color: white;
  display: flex;
  -moz-border-radius: 10px!important;
  -webkit-border-radius: 10px!important;
  border-radius: 10px!important;
  margin: auto;
  flex: 2;
  flex-direction:column-reverse;
  justify-content: center;
  order: 1;
  margin: 7px 0 0 0;
  align-items: center;

  padding: 20px;
}
.unbox
{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  margin: auto;

  flex: 2;
  justify-content: center;
  order: 2;margin: 7px ;
  align-items: center;

  padding: 20px;
}
.userbox{
  display: flex;
  justify-content: space-around;
}
.userbox form p {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.userbox li a ,.userbox li a:visited ,.userbox  li a:hover {
  font-size: 20px;
  font-weight: bold;
  color: white!important;

  }
.separatorneg{
  margin-top: -26px;
}
.fstar{

  float: left;

}
.fstar2{

  float: right;

}
.online{
  color: green!important;
font-weight: bold;
font-size: 17px!important;
}
.tweets2 textarea{
  width: 100%;
  height: 120Px;
}
.separator{
  margin-top: 12px;
}

@media screen and (max-width: 1280px)
{
  .tweets2 textarea{
    width: 70%;
    height: 120Px;
  }
  .masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
    margin: 20px;
  }
  .conten{
    align-items: flex-start;
    display: flex;
    flex-direction: column ;
    word-wrap: break-word;
    flex-wrap: wrap;

  }
  .box
  {
    margin: 5% auto;


  width: 90%!important;

      display: flex;
      flex-direction: column-reverse;
    word-wrap: break-words;

  }
.okinput{
  border: none;
  -moz-border-radius: 30px!important;
  -webkit-border-radius: 30px!important;
  border-radius: 30px!important;

}
  .box:nth-child(1),  .box:nth-child(1) p a
  {
    flex: 1;
    order: 2;
      flex-direction: column;
      justify-content:center;
      align-items:center;
      margin: auto;
  }
  .box:nth-child(2)
  {
    flex: 1;
    order: 3;

    

  }
  .box:nth-child(3)
  {
      width: 90%!important;
  }
  .alea ,.alea p a{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;


  }
  .box:nth-child(3)
  {
    flex: 1;
    order: 2;
      flex-direction: column-reverse;
  }
  .boxgeek{
    display: flex;
    justify-content: center;
    margin: 7px;
    background: white!important;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width:100% ;

  }
.a{
      text-decoration: none!important;
  }
  .login {
    display: flex;
    justify-content: center;
    margin: 20px;
    background: white!important;
    flex-direction:row;
    align-items: center;

  }
 
  .field{
    display: flex;
    flex-direction: row;
  }

  .content
  {
 /*utiliser pour le header*/
    margin: auto;
    margin-top: 10px !important;
    display: flex;
  
 height: 100px;
  }
    /* Rédigez vos propriétés CSS ici */
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  }
  75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  }
  90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }
  @keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  }
  75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  }
  90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }



  @media screen and (max-width: 980px)
{
  .masonry { /* Masonry container */
    margin: 0 auto;
  }
  .messdate {
    font-size: 22px!important;
    margin-left: 440px;
    float: right;
  }
  .messdate2 {
   font-size: 22px!important;
   margin-right: 440px;
   float: right;
 }
  input[type=color] {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    height: 70px!important;
    width: 70px!important;
  background: black;
    padding: 10px;
    border: 0px black;
  }

  #contactamischat  input[type=color] {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
  background: black;
    padding: 10px;
    border: 0px black;
  }
  .box:nth-child(1)
  {
    order: 1;
  }
  .mbox:nth-child(2)
{

  order: 7;
  

}
.login {
  flex-direction: column;
}
.login h2  {
  font-size: 70Px!important;

}
.login form .field label {
  font-size: 50Px!important;
  width: 290px;
 

}
.login form .ok input {
  font-size: 40Px!important;
  height: 60px;

  white-space: nowrap;
}
.login form .ok {
  margin: 0 auto;
width: 100%;
}
.login .actions input  {
  width: 100%!important;

}
.login a {
  font-size: 30Px!important;
}
.login form .field input {
  font-size: 40Px!important;
  
}
.submit4{
  height: 50px;
}
.margtop{
  margin: 0;
}
  .monprofil{
    flex-direction: column;
  }
  .monprofil textarea{
    width: 100%;
    font-size: 40Px!important;
    height: 250px!important; 
  }
  .monprofil H3 , .monprofil p {
    font-size: 40Px!important;
  }
  .submit{
    font-size: 40Px!important;
    width: 80%!important;
    height: 50px!important; 
  }
  .unbox{
    flex-direction: column;
  }
  .unbox h1{
    font-size: 70px!important;
  }
  .unbox p,   .unbox  span , .encoreune  span  ,.encoreune  p{
    font-size: 35Px;
  }
 .unbox
  {
font-size: 40Px; 
  }
  .unbox .userbox
  {
    flex-direction: column;
  }
  .colcent p ,.colcent span
  {
    font-size: 35Px; 
  }
  .tweets h3 
  {
    font-size: 40Px; 
  }
  .geekoimg
  {
    display: block;
  }
  .tweets2 li a  {
    font-size: 70px!important;
  }
  .colso {

    width: 100%;
    font-size: 50Px;
  }
  .userbox li a {
    font-size: 35Px!important; 
    white-space: nowrap;

  }
  .userbox {
    flex-wrap: wrap;
    word-wrap: break-word;
  }
  .colcent h2 {
    font-size: 50Px;
  }
  .addanimerr label , .addanimerr input
  {
    font-size: 40Px!important; 
  }
  .addanimerr textarea {
    font-size: 40Px!important; 
    height: 100px;

  }
  .test .finli {
    flex-direction: column;
  }
  .colso form 
  {
    display: flex;
    flex-direction: column;
  }
  .colso form .actions input ,.actions input 
  {
    font-size: 50Px!important;
    width: 100%;
    height: 90px!important;
  }
  .colso form textarea 
  {
    font-size: 50Px;
    height: 200px;
    width: 100%; 
  }
  .recending img ,  .sendig img
  {
    width: 120px!important;
  }
  .message-received{
    font-size: 60px;
    padding: 20px;
  }
  .message-sent{
    font-size: 60px;
    padding: 20px;
  }
    .messages-list{
    position: fixed;
    top: 100px;
    bottom: 350Px;
    max-height: 75%!important;
    height: 75%!important;
    width: 100%;
    left: 0;
    right: 0;
    }
    .contentchato
    {
      position: fixed;
      top: 100px;
      bottom: 200Px;
      height: 80%;
      left: 0;
      right: 0;
      width: 100%;
    }
    #contactamischat form {
      position: fixed;
      bottom: 20px;
      background: white;
      width: 100%;
      padding: 20px;
    }
    #contactamischat form textarea ,#post_content ,.tweets form textarea{
      height: 190px!important;
      font-size: 60px;
    }
    #contactamischat form img{
      width: 150Px;
    }
  #contactamischat
  {
    z-index: 100;
  }
  .menuamis{

    width: 100%;
    padding-top: 200px;

  }
  .menuamis{

    font-size: 50px;
  }
  .classchat span {
    font-size: 70px;
  }
  .classchat span img  {
    width: 100px;
  }
  .classchat
  {
    position: fixed;
    top: 0;
    bottom: O;
    left: 0;
    right: 0;
    z-index: 80;
    width: 100%;
    height: 100%;

  }
  .menuamis h2{ 
    font-size: 70px;
  }
  body {
    margin-top: 160px;
    margin-bottom: 100px;
  }
  #navbox{
    position: fixed;
    bottom: 0;
    margin: O 10px 0 10px;
    background-color: white;
    border-top: 1px #0070c9 solid ;
    box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
  
    height: 120px;
   
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    left: 0px;
    right: 0px;
    z-index: 300;
  }
  #navbox ul{
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  #navbox img{
    width: 90px;
  }
  header {
    height: 120px;
    opacity: 1;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }
  header h1 {
    font-size: 80px;
  }
  .tuser {
    font-size: 60px;
 
  }
  .tuser a  ,.tuser a:visited , .tuser a:hover {
    font-size: 60px;
  }
  .img-thumbnail{
    width: 110px!important;
   
  }
  .tweets p {
    font-size: 55px;
  }
  .tweets .datea {
    font-size: 40px!important;
  }
  .boxb  p a  img {
    width: 70px;
  }
  .rechecher{
    height: 80px;
    font-size: 60px;
    width: 500px; 
    border: none;
  }
  .image-responsive
  {
    width: 80px;
  }
  .geekoan
  {
    display: none;
  }
  #boxgeeko
  {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 110px;
    left: 0;
    right: -20px;
    justify-content: center;
   
    box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
    background: white;
  
  }
  #boxgeeko li a
  {
    color: black;
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
    margin: 20px
    
    
  }
  .anime .userbox a h2 {
    font-size: 80px;
  }
.submit2
  {
    font-size: 60px!important;
    width: 100%!important;
    height: 80px!important;
  }
  .animer .tweets{
    width: 100%!important;
    margin: 50px 0 ;
  }
  .amisc{
    width: 100%!important;
    max-width: 100%!important;
    margin: 0px!important;
    align-items: center;
  
    display: flex;
    font-size: 40px;
  }
  .hiddenmobie{
    display: none;
  }
  .conten
  {
    margin: 0 ;
  }
  .tweets h2
  {
    font-size: 50px;
  }
  .box{
    margin: 0 auto!important;
  }
  .amisc img{
    width: 120px!important;
    
  }
  .amisc span {
    font-size: 35px;
  }
  .amisc a {
    font-size: 40px;
  }
}
@media screen and (min-width: 1224px)
{
  .tuser {
    font-size: 30px;
 
  }
  .tuser a  ,.tuser a:visited , .tuser a:hover {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px)
{
  .tuser {
    font-size: 20px;
 
  }
  .tuser a  ,.tuser a:visited , .tuser a:hover {
    font-size: 20px;
  }
}
@media screen and (max-width: 680px)
{


  .masonry { /* Masonry container */
    column-width: 300px;
    column-gap: 15px;
    width: 95%;
    max-width: 100%;
    margin: 50px auto;
  }
  .tweets
  {
    width: 100%;
  }
  .tweets p
  {
    font-size: 55px!important;
  }
  p .tuser a, .tuser a:visited, .tuser a:hover {
    font-size: 50px;
    margin: 10px;
    color: rgba(45, 45, 45, 0.98);
    text-decoration: none !important;
    background: white;
    font-weight: 800;
}

}