
<div class=" conten">
 
  

<div class="box">

  <div class=" cont">
<%cat =Categorieserie.all%>


      <div class="colcent">
        <%= image_tag "walking-bridge-through-canyon-caves_4460x4460.jpg", alt: "Mon image", size: "600x267" %>

<h2>Ajouter une serie </h2>
<div class="test">
          <%= form_for @serie,  url: {action: 'screate'} do |f| %>
            <div class="addanimerr">
            <%=f.label "Titre :"%>
          <%=f.text_field :name%>
          <%=f.label "Auteur/studio :"%>
            <%=f.text_field :auteur%>
            <%=f.label "source :"%>
              <%=f.text_field :source%>
                <%=f.label "Licencier/diffusions :"%>
                <%=f.text_field :licencier%>

                    <div class="">
                      <p class="finli">  <%=f.label "Ajouter une image :  "%> &nbsp
                      <%= f.file_field  :image   %></P>
                      </div>
                      <input id="x" type="hidden" name="content">
                     
                      <%=f.text_area(:content, size: '0x5')%>
                      <div>
              </div>
  <div class="finli">

           
      <div class="finli">
      <% Categorieserie.all.each do |e|  %>
        <label class=""><%=e.name%>
        <input type="checkbox" name="ch<%=e.id%>">
       
      </label>
        <%end%>
      </div>
            <div class="actions">
            <%= f.submit "ajouter la serie" %>
          </div>
          <% end %>
      </div>
      </div>
        </div>
        <div class="anime ">
          <ul class="userbox">
            <li><a href="/seriet">Accueil</A> </li>
              <li><a href="/lesseries">Les Series</A> </li>
              <li><a href="/srechegenre">Recherche par genre</A> </li>
            <li><a href="/aleatoires">Serie aléatoire </A> </li>
                <li><a href="/addserie">Ajouter une serie </A> </li>


          </ul>
        <div class="userbox">
          <%= form_tag "/sreche", method: "post" do %>
            <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: serie "/>

            <input  type="submit" class="submit2" value="rechecher"/></p>
            <%end%>
                      </div>
                        </div>


</div>
