
<div class=" conten">

  <div class="box ">

  <div class="tmess">
    <div class="">
      <div class="amis">

      <div class "panel-head2">

        <h2>Contacts</h2>   </div> <ul><%@mesamis.each do |user|%>

            <%a = DateTime.now.utc - user.lasttime%>
            <%ud =(a /60).to_i %>

            <li><%= link_to image_tag(Photo.where(user: user.id).last.image.thumb('60x60#').url, alt: user.id, class: 'img-thumbnail')%> <%= link_to user.pseudo, conversations_path(user_id: user), remote: true, method: :post %> <%if ud <= 5 %><span class="online" >en ligne</span><%else%><%=ud%>min<%end%></li>
          <% end %>
        </ul>

   </div>
      <ul id="conversations-list">
        <% @conversations.each do |conversation| %>
        <div class="tmess">
          <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        </div>
        <% end %>
      </ul>




      </div>
          </div>
              </div>


<div class="box">

  <div class=" cont">

    <%@resul=Serie.where(valider:1).sort{ |a, b| a.name <=> b.name }.reverse %>


            <%@resul.each do |e|%> <%if e.image !=nil%> <div class="tweets "><div class="amisc"><%= link_to image_tag(e.image.thumb('70x70#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/serie/<%=e.id%>">  &nbsp&nbsp&nbsp<%=e.name%></a>
                <%list =Seriegenre.where(serie_id: e.id)%>
              &nbsp  &nbsp  &nbsp  &nbsp <span> Genre : </span> <%list.each do |i|%> <%=i.categorieserie.name%> <%end%> </P>



                </div></div><%end%>
        <%end%>

        <div class="anime ">
          <ul class="userbox">
            <li><a href="/seriet">Accueil</A> </li>
              <li><a href="/lesseries">Les Series</A> </li>
              <li><a href="/srechegenre">Recherche par genre</A> </li>
            <li><a href="/aleatoires">Serie aléatoire </A> </li>
                <li><a href="/addserie">Ajouter une serie </A> </li>


          </ul>
        <div class="userbox">
          <%= form_tag "/sreche", method: "post" do %>
            <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: serie "/>

            <input  type="submit" class="submit2" value="rechecher"/></p>
            <%end%>
                      </div>
                        </div>
