
<div class=" conten">




<div class="box colrev">

  <%if @resul%>
            <%@resul.each do |e|%> <%if e.image !=nil%> <div class="colstart"><div class="amisc"><%= link_to image_tag(e.image.thumb('70x70#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/serie/<%=e.id%>">  &nbsp&nbsp&nbsp<%=e.name%></a>
                <%list =Seriegenre.where(serie_id: e.id)%>
              &nbsp  &nbsp  &nbsp  &nbsp <span> Genre : </span> <%list.each do |i|%> <%=i.categorieserie.name%> <%end%> </P>



                </div></div><%end%>
        <%end%>
  <%end%>



    <div class="colcent">  <%= form_for @serie,  url: {action: 'srechegenre'} do |f| %>


      <div class="finli">
      <% Categorieserie.all.each do |e|  %>
        <label class=""><%=e.name%>
        <input type="checkbox" name="ch<%=e.id%>">
       
      </label>
        <%end%>
      </div>


        <div class="actions">
        <%= f.submit "Rechercher la serie" %></div></div>

<%end%>


<div class="anime ">
  <ul class="userbox">
    <li><a href="/seriet">Accueil</A> </li>
      <li><a href="/lesseries">Les Series</A> </li>
      <li><a href="/srechegenre">Recherche par genre</A> </li>
    <li><a href="/aleatoires">Serie aléatoire </A> </li>
        <li><a href="/addserie">Ajouter une serie </A> </li>


  </ul>
<div class="userbox">
  <%= form_tag "/sreche", method: "post" do %>
    <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: serie "/>

    <input  type="submit" class="submit2" value="rechecher"/></p>
    <%end%>
              </div>
                </div>
  </div>
    </div>
      </div>
