
<div class=" conten">




<div class="box">

  <div class=" cont">
<%cat =Categoriea.all%>


      <div class="colcent">
        <%= image_tag "gaming-glasses-mouse_4460x4460.jpg", alt: "Mon image", size: "550x300" %>

<h2>Ajouter un jeux</h2>
<div class="test">
          <%= form_for @jeux,  url: {action: 'jcreate'} do |f| %>
            <div class="addanimerr">
          <%=f.label "Titre :"%>
          <%=f.text_field :name%>
          <%=f.label "Auteur/studio :"%>
            <%=f.text_field :auteur%>
            <%=f.label "source :"%>
              <%=f.text_field :source%>
                <%=f.label "Licencier/diffusions :"%>
                <%=f.text_field :licencier%>

                <div class="">
                  
                      <p class="finli">  <%=f.label "Ajouter une image :  "%> &nbsp
                      <%= f.file_field  :image   %></P>
                      </div>
                      <input id="x" type="hidden" name="content">

                      <%=f.text_area(:content, size: '150x5')%>
                      <div>
              </div>
              <div class="finli">
              <% Categoriejeux.each do |e|  %>
                <label class=""><%=e.name%>
                <input type="checkbox" name="ch<%=e.id%>">
               
              </label>
                <%end%>
              </div>
            <div class="actions">
            <%= f.submit "ajouter le jeux" %>
          </div>
          <% end %>
      </div>
      </div>
        </div>
        <div class="anime ">
          <ul class="userbox">
            <li><a href="/jeuxt">Accueil</A> </li>
              <li><a href="/lesjeux">Les jeux</A> </li>
              <li><a href="/jrechegenre">Recherche par genre</A> </li>
            <li><a href="/aleatoirej">Jeux aléatoire </A> </li>
                <li><a href="/addjeux">Ajouter un jeux</A> </li>


          </ul>
        <div class="userbox">
          <%= form_tag "/jreche", method: "post" do %>
            <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: jeux "/>

            <input  type="submit" class="submit2" value="rechecher"/></p>
            <%end%>
                      </div>
                        </div>


</div>
