
<div class=" conten">




<div class="box colrev">

  <%if @resul%>
            <%@resul.each do |e|%> <%if e.image !=nil%> <div class="colstart"><div class="amisc"><%= link_to image_tag(e.image.thumb('70x70#').url, alt: e.id, class: 'img-thumbnail')%>       <a href ="/anime/<%=e.id%>">  &nbsp&nbsp&nbsp<%=e.name%></a>
                <%list =Jeuxgenre.where(jeux_id: e.id)%>
              &nbsp  &nbsp  &nbsp  &nbsp <span> Genre : </span> <%list.each do |i|%> <%=i.categoriejeux.name%> <%end%> </P>



                </div></div><%end%>
        <%end%>
  <%end%>



    <div class="colcent">  <%= form_for @jeux,  url: {action: 'jrechegenre'} do |f| %>

      <div class="finli">
      <% Categoriejeux.all.each do |e|  %>
        <label class=""><%=e.name%>
        <input type="checkbox" name="ch<%=e.id%>">
       
      </label>
        <%end%>
      </div>
        <div class="actions">
        <%= f.submit "Rechercher le jeux" %></div></div>

<%end%>


<div class="anime ">
  <ul class="userbox">
    <li><a href="/jeuxt">Accueil</A> </li>
      <li><a href="/lesjeux">Les jeux</A> </li>
      <li><a href="/jrechegenre">Recherche par genre</A> </li>
    <li><a href="/aleatoirej">Jeux aléatoire </A> </li>
        <li><a href="/addjeux">Ajouter un jeux</A> </li>


  </ul>
<div class="userbox">
  <%= form_tag "/jreche", method: "post" do %>
    <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: jeux "/>

    <input  type="submit" class="submit2" value="rechecher"/></p>
    <%end%>
              </div>
                </div>
  </div>
    </div>
      </div>
