
<div class=" conten">
 
 

<div class="box colrev">
  <div class=" cont colrev">
    <% @commentaire.each do |e| %>

   <div class="tweets">
   <%if User.where(pseudo: e.auteur).last%>
     <% ida = User.where(pseudo: e.auteur).last.id%>

     <div class="tuser"><%= link_to image_tag(Photo.where(user: ida).last.image.thumb('60x60#').url, alt: ida, class: 'img-thumbnail')%> <p><a href ="/users/profil/<%=e.auteur.sub '.', '<dot>'%>/<%=rand(36**50).to_s(36)%>"><%=e.auteur%></a>  </P></div> <%=e.created_at%></p>
         <p class ="ttext"><%=e.content%></p>
         <%if e.image_uid !=nil%>
         <%= link_to image_tag(e.image.thumb('850x531#').url, alt: e.auteur, class: 'img-thumbnail'),
                   e.image.url, target: '_blank' %>
                     <%end%>


   </div>
   <%end%>
   <%end%>






     <div class="tweets">

         <h3>Créer un commentaire</h3>
         <%= form_for @comm , url: {action: 'createcom'} do |f| %>



                   <%= f.text_area  :content, :size=>'105x7'  %>
                   <%=f.label :Ajouter_une_image%>
                   <%= f.file_field  :image  %>
                   <%= f.hidden_field :idt , :value=>"#{@jeux.id}"%>
                   <div class="actions ">
                     <%= f.submit "Commenter"%>
                   </div>


           <% end %>


   </div>

  </div>
  <div class=" cont">



      <div class="colcent">
        <%unjeu = @jeux%>
<div><%= link_to image_tag(unjeu.image.thumb('500x500#').url, alt: unjeu.id, class: 'img-thumbnail')%></div>
<p></P>
  <%list =Jeuxgenre.where(jeux_id: unjeu.id)%>
          <p><span>Titre :</span> <%=unjeu.name%></P>
            <p><span>Genre :</span> <%list.each do |e|%><%=e.categoriejeux.name%> <%end%> </P>
            <p><span>Auteur/studio : </span><%=unjeu.auteur%></P>
            <P> <span>licencié/diffusions :</span>  <%=unjeu.licencier%></P>
          <P> <span>source :</span> <a<%=unjeu.source%>><%=unjeu.source%></A></P>
                <p><span>Résumé :</span><%=unjeu.content%></P>
              <div class="boxb">    <P<%=unjeu.nlike%>   <%= link_to image_tag("baseline_favorite_black_18dp.png", alt: "Like", class: 'colorbtlink') ,"/jeux/aime/#{unjeu.id}" ,  method: :post %></P>
                      <P>  <%= link_to "","" ,  method: :post %> </P>

      </div>
  </div>
        </div>

        <div class="anime ">
          <ul class="userbox">
            <li><a href="/jeuxt">Accueil</A> </li>
              <li><a href="/lesjeux">Les jeux</A> </li>
              <li><a href="/jrechegenre">Recherche par genre</A> </li>
            <li><a href="/aleatoirej">Jeux aléatoire </A> </li>
                <li><a href="/addjeux">Ajouter un jeux</A> </li>


          </ul>
        <div class="userbox">
          <%= form_tag "/jreche", method: "post" do %>
            <p><input class="rechecher " type="string" name="rechecher"  placeholder="ex: jeux "/>

            <input  type="submit" class="submit2" value="rechecher"/></p>
            <%end%>
                      </div>
                        </div>


</div>
