<!DOCTYPE html>
<html>
  <head>
    <title>Student Co</title>
    <%= csrf_meta_tags %>
   
   

 <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
 <%= stylesheet_link_tag 'jquery.emojipicker.css' , media: 'all' %>
  <%= stylesheet_link_tag 'jquery.emojipicker.tw.css' , media: 'all' %>

 <!-- Emoji Data -->



 <%= javascript_include_tag "jquery.emojis", "data-turbolinks-track" => true  %>
  <%= javascript_include_tag "jquery.emojipicker.js", "data-turbolinks-track" => true  %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body >
    <header>
  <div class="finli">
  <a href="/tweets"><h1>Shiro<span>in</span></h1></a>
  <%= form_tag "/reche", method: "post" do %>
   <input class="rechecher" type="string" name="rechecher"  placeholder="ex: contact"/>
    <%= image_submit_tag("baseline_search_black_18dp.png", class: 'image-responsive') %>
   
    <%end%></div>

    <nav id="navbox">
      <ul>
        <%if @current_user!= nil%>
      


        

          <%end%>
          <div id="menugeeko"></div>
          <li class="geekoimg"><span onclick="menugeek();"><%=image_tag("baseline_menu_black_18dp.png", alt: "Forum", class: '')%></span></li>
            <li class="geekoan"><a href="/lesanimes"><%=t('Animer')%></a></li>
              <li class="geekoan"><a href="/lesjeux"><%=t('jv')%></a></li>
                <li class="geekoan"><a href="/lesseries"><%=t('sr')%></a></li>
                <%if @current_user!= nil%>
                <li><a href="/users/user" id="un_67"><%= image_tag Photo.where(user:  @current_user.id).last.image.thumb('40x40#').url %></a></li>
                
                <li><a href="/users/amis"><%= image_tag "baseline_people_black_18dp.png" %><%if Demande.where(ur: @current_user.id).length>0%> <span class="roundinfo"> <%=Demande.where(ur: @current_user.id).length%></span> <%else %></a></li>
             
                
                <%end%>
        <li><a href="/forum"><%= image_tag "baseline_forum_black_18dp.png" %></a></li>
        <li><button class="noneback" onclick="amisco();"><%= image_tag "baseline_message_black_18dp.png" %>
        <%c=0%>
        <%Ami.where(u1: @current_user.id).or(Ami.where(u2: @current_user.id)).each do |e|%>
        <%if(Message.where(conversation_id: e.id).where(vue: nil).length>0) %>
          <%c +=Message.where(conversation_id: e.id).where(vue: nil).length%>
        <%end%>
        <%end%>
        <%if c > 0%>
        <span class="roundinfo"> 
        <%=c%>
        </span>
        <%end%>
        </button></li>
        <li class="colopick"> <input type="color" id="head" name="head" 
        value="#000000" onchange="myFunction();"></li>
         
          <li>      <%= link_to(link_to image_tag("baseline_input_black_18dp.png", alt: "Forum", class: ''), destroy_user_session_path, method: :delete) %>   </li>
            <%end%>

      </ul>

    </nav>





    <script type="text/javascript">
    <%if @current_user%>
    oksetcolor()
    function oksetcolor()
    {
      <% Setdbdata.where(userid: @current_user.id).each do |e| %>
        $('<%=e.style%>').css("background", '<%=e.value%>');

      <%end%>
    }
    function myFunction()
    {
      $('header').css("background", $('#head').val());
      $(' #navbox').css("background", $('#head').val());
      setvaluedb(<%=@current_user.id%> , "header" ,$('#head').val());
      setvaluedb(<%=@current_user.id%> , "#navbox" ,$('#head').val());
     
    }
    function myFunction2()
    {
      $('.menuamis').css("background", $('#mescolor').val());
      setvaluedb(<%=@current_user.id%> , '.menuamis' , $('#mescolor').val());
   
    }
    function myFunction3(id)
    {
      $('#idchato'+id).css("background", $('#convcolor'+id).val());
      setvaluedb(<%=@current_user.id%> , '#idchato'+id ,$('#convcolor'+id).val());
   
    }
    
    function setvaluedb(id , style ,value)
    {
      $.ajax({
    url: "/setvaluedb",
    type: "get",
    data: {id: id ,  style : style , value : value },
    success: function(data) { }
  });
    }
<%end%>
    </script>




  </header>
  <script type="text/javascript">
 
  $(document).ready(function(e) {


  });
</script>
  <script type="text/javascript">
  <%if @current_user!= nil%>
  function conchat(id,e,data)
  {
    var ro= '<%= form_tag "/mesot", method: "post" do %>'+

      '<input name="user_id" type="hidden" value="<%=@current_user.id%>">'+
      '<input name="conversation_id" type="hidden" value="'+id+'">'+
        '<input name="opoeduser_id" type="hidden" value="'+e+'">'+
      '<div class="finli"><textarea name="cont" class="form-control input " id="input_default_'+id+'"></textarea>'+
      '<button class="noneback" onclick="sendmees('+id+');"><%= image_tag "baseline_send_black_18dp.png" %></button> </div>'+
    '<%end%>';

  $("#contchat"+id).html("<div class='contentchato' ><div class='messages-list ' id ='messagelist"+id+"' > <ul>"+data["ok"]+ro+" </div>");
  $(".messages-list").scrollTop($(".messages-list")[0].scrollHeight+10); 
  $('#input_default_'+id).emojiPicker({
      
height: '200px'
});

$(".emojiPicker").css('top','-200px');

// keyup event is fired
  $(".emojiable-question, .emojiable-option").on("keyup", function () {
    //console.log("emoji added, input val() is: " + $(this).val());
  });
   $(".messages-list").scrollTop($(".messages-list")[0].scrollHeight+10); 
  }
  <%end%>
  function addcontchat(id,e)
  {
    //= require rails-ujs
    //= require jquery
    //= require jquery_ujs
    
    if($("#contchat"+id).html()=="")
      {
        $.ajax({
    url: "/optmessage",
    type: "get",
    data: "oka="+id,
    success: function(data) { conchat(id,e,data)}

    })
  }
    else
      $("#contchat"+id).html("");
  }
    function startoki(id ,pseudo,e ,img)
    {
      if($("#idchato"+e).html()==null)
        {
      $('#contactamischat').html($('#contactamischat').html()+ "<div  class='classchat' id='idchato"+e+"'>"+
      "<span onclick='addcontchat("+e+","+id+");'>"+'<img src="'+img+'" alt="usr">'+
      pseudo+' <span onclick="supclosechat('+e+');"> <%= image_tag 'baseline_clear_black_18dp.png' ,alt:'close',width: 20%></span>'+
      '<input type="color" id="convcolor'+e+'" name="head" value="#000000" onchange="myFunction3('+e+');">'+"</span><div id='contchat"+e+"'>"
      +"</div></div>")
      addcontchat(e,id);
      oksetcolor();
    }
        
    }
    function supclosechat(e)
    {
      $("#idchato"+e).remove();
    }
    
    <%if @current_user!=nil%>
    
    function amisco(){
      if($("#contactamis").html()=="")
        {
          var r ='<div class="bounceInRight  menuamis">';
          r += '<h2><%=t('contact')%> <input type="color" id="mescolor" name="head" value="#000000" onchange="myFunction2();"> </h2> <ul>';
          <%Ami.all.each do |e|%>
        
            <%if current_user!=nil%>
              <%if e.u1 == current_user.id%>
              <%user = User.find(e.u2)%>
               <%elsif e.u2 == current_user.id%>
              <%user = User.find(e.u1)%>
              <%end%>
          <%end%>
          <%if user!=nil%>
          <%a = DateTime.now.utc - user.lasttime%>
            <%ud =(a /60).to_i %>
         
            r+= '<li><%= link_to image_tag(Photo.where(user: user.id).last.image.thumb('60x60#').url, alt: user.pseudo, class: 'img-thumbnail')%> '+
            "<buttom onclick='startoki(<%=user.id%>,"+'"<%= user.pseudo%>",'
            +<%=e.id%>+
            ',"<%=Photo.where(user: user.id).last.image.thumb('30x30#').url%>"'
            +')'+";'>   <%= user.pseudo%>"+
          "  <%if(Message.where(conversation_id: e.id).where(vue: nil).length>0) %> &nbsp&nbsp <span class='roundinfo'> <%=Message.where(conversation_id: e.id).where(vue: nil).length%></span> <%end%>"+
   
            "</buttom> "+
            '<%if ud <= 5 %><span class="online" >en ligne</span><%else%>'+        
                ' <%if ud>60 %>'+
                    '<%if ud/60 >24%>'+
                    "<%=(ud/60)/24 %> j"+
                    '<%else%>'+
                    "<%=ud/60 %>h"+
                    '<%end%>'+
            '<%else%>'+
            "<%=ud%>min"+
            '<%end%>'+
            '<%end%></li>';
            <%end%>
          <% end %>
        r+='</ul>'+'</div>';
        $("#contactamis").html(r);
        oksetcolor();
        }
     
      else 
        $("#contactamis").html("");
    }


    $(document).ready(function(e) {

      $('#input-default').emojiPicker({

    height: '200px'
  });



    // keyup event is fired
      $(".emojiable-question, .emojiable-option").on("keyup", function () {
        //console.log("emoji added, input val() is: " + $(this).val());
      });

    });
    <%end%>
  </script>

      <%= yield %>
<div id="contactamis"></div>
<div id="contactamischat"></div>
  </body>
</html>
<script>
<%if @current_user!=nil%>
function sendmees(id)
{
 
  $.ajax({
    url: "/addmessage",
    type: "get",
    data: {cont: document.getElementById("input_default_"+id).value,  conversation_id: id },
    success: function(data) { }
  });

  var r =  '<li>'+
    '<div class="row sendig">'+
    
      "<div class=' message-sent'>"
      +  document.getElementById("input_default_"+id).value +
      "  </div>"+
      "<img src='<%=Photo.where(user: @current_user.id).last.image.thumb('40x40#').url%>'>"+
    '</div>'+
  '</li>'
  $("#messagelist"+id).html($("#messagelist"+id ).html()+r)
   
}
<%end%>
<%if @current_user!=nil%>
function connectowebnot(conv)
{
App.web_notifications = App.cable.subscriptions.create({channel: "WebNotificationsChannel",
room: conv} ,{

  
  connected: function() {
    // Called when the subscription is ready for use on the server
  },

  disconnected: function() {
    // Called when the subscription has been terminated by the server
  },

  received: function(data) {
    
    if(data['user']!=<%=@current_user.id%>)
      {
        var msg = new Notification('Nouveau Message', {
          body: data['pseudo']+" : " + data['cont'],
        
      });
    if($("#idchato"+data['idconv']).html()==null)
      {
      
      

        startoki(data['user'] ,data['pseudo'],data['idconv'] ,data['image']);
      
      }
    else 
      {
        if($("#messagelist"+data['idconv'] ).html()!=null)
          {
            if(data['user']!=<%=@current_user.id%>)
            $("#messagelist"+data['idconv'] ).html($("#messagelist"+data['idconv']  ).html()+data['message'])
          else 
            {
              var r =data['message'];
              r = r.replace("recending","sendig");
              r = r.replace("sendig","message-sent");
              $("#messagelist"+data['idconv'] ).html($("#messagelist"+data['idconv']  ).html()+data['message'])
            }
          }
        else 
          {
          
            addcontchat(data['idconv'],data['user']);
          }

      }
    }
    $(".messages-list").scrollTop($(".messages-list")[0].scrollHeight+10); 
   // $('#messages').html(data['message']);
    // Called when there's incoming data on the websocket for this channel
  }
});
  }
  <%if @current_user.id!=nil%>
  <%Ami.all.each do |e|%>
    connectowebnot(<%=e.id%>);
  <%end%>
  <%end%>
  <%end%>
  function menugeek()
    {
      if(  $("#menugeeko").html()=="")
     {
      var r ='<ul id="boxgeeko"><li ><a href="/lesanimes"><%=t('Animer')%></a></li>'+
      ' <li ><a href="/lesjeux"><%=t('jv')%></a></li>'+
          '<li ><a href="/lesseries"><%=t('sr')%></a></li></ul>';
        $("#menugeeko").html(r);
     }
    else 
      $("#menugeeko").html("");
     
    }
</script>


